<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="/layout/LayoutPadrao">
    
<head>
	<title>Pesquisa de pessoas</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="/mensagem/MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-titulo-panel"><strong>Pesquisa de pessoas</strong></h1>
	   			<a class="btn btn-link aw-link-panel" th:href="@{/pessoas/novo}">Nova pessoa</a>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body">
	   		<form method="GET" class="form-horizontal" th:action="@{/pessoas}" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Qual pessoa você está procurando?"
	   							autofocus="autofocus" th:field="*{nome}"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
	   		
	   		<div class="table-responsive">
		   		<table class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th>Nome</th>
		   					<th class="text-center col-md-2">Data de nascimento</th>
		   					<th class="text-center col-md-1">Sexo</th>
		   					<th class="text-center col-md-3">Cadastro</th>
		   					<th class="col-md-1"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="pessoa : ${pessoas}">
		   					<td class="text-center" th:text="${pessoa.idPessoa}">1</td>
		   					<td th:text="${pessoa.nome}"></td>
		   					<td class="text-center" th:text="${{pessoa.dataNascimento}}"></td>
		   					<td class="text-center" th:text="${pessoa.sexo}"></td>
		   					<td class="text-center" th:attr="data-role=${pessoa.idPessoa}">
		   						<span class="label" th:text="${pessoa.completo ? 'Completo' : 'Pendente'}"
		   							th:classappend="${pessoa.completo ? 'label-success' : 'label-danger'}"></span>
		   					</td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/pessoas/{idPessoa}(idPessoa=${pessoa.idPessoa})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
		   								th:attr="data-codigo=${pessoa.idPessoa}, data-descricao=${pessoa.nome}"
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs js-atualizar-status" th:if="${!pessoa.completo}"
		   								title="Concluir cadastro" rel="tooltip" data-placement="top"
		   								th:attr="data-codigo=${pessoa.idPessoa}"
		   								th:href="@{/pessoas/{codigo}/mudarstatus(codigo=${pessoa.idPessoa})}">
		   							<span class="glyphicon glyphicon-check"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(pessoas)}">Nenhuma pessoa foi encontrada</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	<div layout:include="/mensagem/DialogoConfirmacaoExclusao"></div>
	   	
	</div>
</section>
</html>
