<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao"
	xmlns:iaff="http://csiaff.iaff.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de pessoas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de pessoas</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/pessoas/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova pessoa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${pessoaFilter}" th:action="@{/pessoas}">
			<div class="row">
				<div class="form-group  col-sm-8">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="numeroDocumento" class="control-label">Número do documento</label>
					<input type="text" class="form-control" id="numeroDocumento" th:field="*{numeroDocumento}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-pessoas-col-nome">
							<iaff:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-pessoas-col-tipo-documento">
							<iaff:order page="${pagina}" field="tipoDocumento" text="Documento"/>
						</th>
						<th class="table-pessoas-col-documento">Número</th>
						<th class="table-pessoas-col-telefone">Telefone</th>
						<th class="table-pessoas-col-cidade-estado">Cidade/Estado</th>
						<th class="table-pessoas-col-cadastro">
							<iaff:order page="${pagina}" field="completo" text="Cadastro"/>
						</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="pessoa : ${pagina.conteudo}">
						<td th:text="${pessoa.nome}"></td>
						<td class="text-center" th:text="${pessoa.tipoDocumento.descricao}">Física</td>
						<td class="text-right" th:text="${pessoa.numeroDocumento}">111.111.111-11</td>
						<td class="text-right" th:text="${pessoa.telefone}">(11) 99999-9999</td>
						<td class="text-right" th:text="${pessoa.endereco.nomeCidadeSiglaEstado}"></td>
						<td class="text-center">
	   						<span class="label" th:text="${pessoa.completo ? 'Completo' : 'Pendente'}"
	   							th:classappend="${pessoa.completo ? 'label-success' : 'label-danger'}"></span>
	   					</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar" th:href="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}"
									data:objeto="${pessoa.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>							
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="5">Nenhuma pessoa encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<iaff:pagination page="${pagina}"/>	
		
	</div>
</section>
</body>
</html>