<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:iaff="http://csiaff.iaff.org"
	layout:decorator="layout/LayoutPadrao">

<head>
	<title>Estatísticas</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Estatísticas</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">90</div>
					<div class="aw-box__title">Atendimentos no dia</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-wheelchair  fa-3x"></i>
					</div>
					<div class="aw-box__value">300</div>
					<div class="aw-box__title">Atendimentos no mês</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-signal  fa-3x"></i>
					</div>
					<div class="aw-box__value">2130</div>
					<div class="aw-box__title">Atendimentos no ano</div>
				</div>
			</div>
						
		</div>
		
		<div class="row">

			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-user  fa-3x"></i>
					</div>
					<div class="aw-box__value">123</div>
					<div class="aw-box__title">Pacientes cadastrados</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-warning  fa-3x"></i>
					</div>
					<div class="aw-box__value">9</div>
					<div class="aw-box__title">Cadastros pendentes</div>
				</div>
			</div>

			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-area-chart  fa-3x"></i>
					</div>
					<div class="aw-box__value">3404</div>
					<div class="aw-box__title">Procedimentos no ano</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Atendimentos por mês <small>últimos 6 meses</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<!--<div class="aw-graph-box__no-data">
							<i class="fa  fa-line-chart  fa-2x"></i>
							<span>Não há dados</span>
						</div>-->
						<div>
							<canvas id="graficoAtendimentosPorMes" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Atendimentos no dia <small>por especialidade</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<div class="aw-graph-box__no-data">
							<i class="fa  fa-line-chart  fa-2x"></i>
							<span>Não há dados</span>
						</div>
						<div>
							<canvas id="barChart" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/Chart.min.js}"></script>
	<script th:src="@{/javascripts/dashboard.graficos.js}"></script>
</th:block>

</html>
