<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/LayoutPadrao">

<head>
<title>IAFF</title>
</head>

<section layout:fragment="conteudo">

<h1 class="text-center">Instituto Alfredo Ferreira Filho</h1>

<!-- 
	<div class="container">

		<div class="row">
			<div class="col-md-2">
				<img th:src="@{/images/MenteInternautica.png}"
					class="img-responsive img-rounded" alt="Mente Internáutica" />
			</div>
			<div class="col-md-6">
				<h1>Centro Social</h1>
				<h2>Instituto Alfredo Ferreira Filho</h2>
			</div>
		</div>

	</div>
 -->


</section>

<body>

</body>
</html>